<div class="row pl-4">
    <div class="col-12 shadow-sm">
        <div class="text-center">
            <h5 class="h3 mb-3 font-weight-normal">
                <strong>ADD PEOPLE </strong>
            </h5>
            <div class="alert alert-danger" *ngIf="errorMessage.length>0">
                {{errorMessage}}
            </div>
        </div>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="submit()" (mouseleave)="mouseoverShifting = false">
            <div class="form-group">
                <label for="serialNo">Serial No*</label>
                <input type="text" class="form-control" id="serialNo" placeholder="Serial No" formControlName="serialNo">
                <small class="text-danger" *ngIf="form.controls.serialNo.errors && form.controls.serialNo.touched">
                    Serial No required
                </small>
            </div>

            <div class="form-group">
                <label for="serialNo">Name *</label>
                <input type="text" class="form-control" id="name" placeholder="Name " formControlName="name">
                <small class="text-danger" *ngIf="form.controls.name.errors && form.controls.name.touched">
                    Name required
                </small>
            </div>

            <div class="form-group">
                <label for="phone">Phone *</label>
                <input type="text" id="phone" class="form-control" placeholder="Phonenumber *" maxlength="11" formControlName="phone">
                <small class="text-danger" *ngIf=" form.controls.phone.errors && form.controls.phone.touched ">
                    <div [hidden]="!form.controls['phone'].errors.required"> Phone number required </div>
                    <div [hidden]="!form.controls['phone'].errors.pattern"> Phone number format 01934953023 </div>
                </small>
            </div>

            <div class="form-group">
                <label for="email">Email *</label>
                <input type="text" class="form-control" id="email" placeholder="Email *" formControlName="email" />
                <small class="text-danger" *ngIf=" form.controls.email.errors && form.controls.email.touched">
                    <div [hidden]="!form.controls['email'].errors.required">
                        Email required
                    </div>
                    <div [hidden]="!form.controls['email'].errors.email">
                        Invalid email
                    </div>
                </small>
            </div>

            <div *ngIf="mouseoverShifting" class="text-danger">
                {{ getFormValidationErrors() }}
            </div>

            <div class="d-flex flex-row-reverse bd-highlight my-2 mb-5">
                <span (mouseenter)="mouseoverShifting = true">
                    <button type="submit" class="btn btn-warning mx-1 shadow-sm" [ngClass]="{
                                  disabled: form.invalid,
                                  'btn-warning': exists,
                                  'btn-success': !exists
                                }">
                        {{ exists ? 'Update' : 'Create' }} People
                    </button>
                </span>
                <button type="button" class="btn btn-sm btn-light mx-1 shadow-sm" (click)="clear()">Clear</button>
                <button type="button" class="btn btn-sm btn-danger mx-1 shadow-sm" *ngIf="people && people.id" (click)="onDelete(group.id)">Delete</button>
            </div>
        </form>
    </div>
</div>