<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
            <img src="assets/images/sms_image.jpg" alt="logo" style="width: 100%;" />
        </div>
        <div class="col-md-6 mt-5">
            <img class="company-logo" src="assets/images/logo.png" alt="logo" />

            <div class="text-center my-5" style="font-size: 24px;">ACCOUNT LOGIN</div>
            <form class="mx-5">
                <div class="form-row mb-4">
                    <div class="col p-0">
                        <input type="text" class="form-control" placeholder="User name">
                    </div>
                    <div class="col p-0">
                        <input type="text" class="form-control" placeholder="Password">
                    </div>
                </div>
                <button class="btn btn-block btn-success py-2">SIGN IN</button>
            </form>
            <div class="text-center my-3">Forgot your password ?
                <a routerLink="/">Reset</a>
            </div>
            <div class="text-center my-3">Not register yet?
                <a routerLink="/register">
                    <strong>Register</strong>
                </a>
            </div>
        </div>
    </div>
</div>