/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.min.css';


// variables
$dark-primary-color: #00796b;
$default-primary-color: #009688;
$light-primary-color: #b2dfdb;
$text-primary-color: #ffffff;
$accent-color: #ffc107;
$primary-text-color: #212121;
$secondary-text-color: #212121;
$divider-color: #bdbdbd;