<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h5 class="h3 mb-3 font-weight-normal">
                <strong>ADD COMPANY </strong>
            </h5>
            <div class="alert alert-danger" *ngIf="errorMessage.length>0">
                {{errorMessage}}
            </div>
        </div>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="submit()" (mouseleave)="mouseoverShifting = false">
            <input type="text" class="form-control" placeholder="Company name *" formControlName="companyName">
            <small class="text-danger" *ngIf="form.controls.companyName.errors && form.controls.companyName.touched">
                Company name required
            </small>

            <input type="text" class="form-control" placeholder="Company address *" formControlName="companyAddress">
            <small class="text-danger" *ngIf="form.controls.companyAddress.errors && form.controls.companyAddress.touched">
                Company address required
            </small>

            <input type="text" class="form-control" placeholder="Contact person *" formControlName="contactPerson">
            <small class="text-danger" *ngIf="form.controls.contactPerson.errors && form.controls.contactPerson.touched">
                Contact person required
            </small>

            <input type="text" class="form-control" placeholder="Phonenumber *" maxlength="11" formControlName="telephone">
            <small class="text-danger" *ngIf=" form.controls.telephone.errors && form.controls.telephone.touched ">
                <div [hidden]="!form.controls['telephone'].errors.required"> Phone number required </div>
                <div [hidden]="!form.controls['telephone'].errors.pattern"> Phone number format 01934953023 </div>
            </small>

            <input type="text" class="form-control" placeholder="Web address" formControlName="webAddress">

            <input type="number" class="form-control" placeholder="Maximum number of guest *" formControlName="maximumNumberOfGuest">
            <small class="text-danger" *ngIf="form.controls.maximumNumberOfGuest.errors && form.controls.maximumNumberOfGuest.touched">
                Maximum number of guest required
            </small>

            <input type="number" class="form-control" placeholder="SMS Quota *" formControlName="smsQuota">
            <small class="text-danger" *ngIf="form.controls.smsQuota.errors && form.controls.smsQuota.touched">
                SMS Quota required
            </small>

            <input type="number" class="form-control" placeholder="Per Month Value *" formControlName="perMonthValue">
            <small class="text-danger" *ngIf="form.controls.perMonthValue.errors && form.controls.perMonthValue.touched">
                Per Month Value required
            </small>

            <input type="number" class="form-control" placeholder="Balance *" formControlName="balance">
            <small class="text-danger" *ngIf="form.controls.balance.errors && form.controls.balance.touched">
                Balance required
            </small>

            <div *ngIf="mouseoverShifting" class="text-danger">
                {{ getFormValidationErrors() }}
            </div>

            <div class="d-flex flex-row-reverse bd-highlight my-2 mb-5">
                <span (mouseenter)="mouseoverShifting = true">
                    <button type="submit" class="btn btn-warning mx-1 shadow-sm" [ngClass]="{
                          disabled: form.invalid,
                          'btn-warning': exists,
                          'btn-success': !exists
                        }">
                        {{ exists ? 'Update' : 'Create' }} Company
                    </button>
                </span>
                <button type="button" class="btn btn-sm btn-light mx-1 shadow-sm" (click)="clear()">Clear</button>
                <button type="button" class="btn btn-sm btn-danger mx-1 shadow-sm" *ngIf="company && company.id" (click)="onDelete(company.id)">Delete</button>
            </div>
        </form>
    </div>
</div>